[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/Anomander/googletest.git
[submodule "third-party/libevent"]
	path = third-party/libevent
	url = https://github.com/Anomander/libevent.git
[submodule "third-party/boost/mpl"]
	path = third-party/boost/mpl
	url = https://github.com/boostorg/mpl.git
[submodule "third-party/boost/preprocessor"]
	path = third-party/boost/preprocessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "third-party/boost/optional"]
	path = third-party/boost/optional
	url = https://github.com/boostorg/optional.git
[submodule "third-party/boost/core"]
	path = third-party/boost/core
	url = https://github.com/boostorg/core.git
[submodule "third-party/boost/type_traits"]
	path = third-party/boost/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "third-party/boost/functional"]
	path = third-party/boost/functional
	url = https://github.com/boostorg/functional.git
[submodule "third-party/boost/utility"]
	path = third-party/boost/utility
	url = https://github.com/boostorg/utility.git
[submodule "third-party/boost/variant"]
	path = third-party/boost/variant
	url = https://github.com/boostorg/variant.git
[submodule "third-party/boost/type_index"]
	path = third-party/boost/type_index
	url = https://github.com/boostorg/type_index.git
[submodule "third-party/boost/move"]
	path = third-party/boost/move
	url = https://github.com/boostorg/move.git
